<div class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 h-10 px-4 py-2"
     [ngClass]="{
       'text-white bg-theme-blue hover:bg-theme-blue/90': variant === 'blue',
       'text-white border border-white hover:bg-white/10': variant === 'outline',
       'text-theme-blue bg-white hover:bg-gray-100': variant === 'white'
     }">
    <ng-content></ng-content>
</div>
